<div class="container-fluid g-0">
  <h2 class="text-center m-5 p-3 text-bg-primary">Acerca de</h2>

  <div class="row g-0 align-items-center">

    <div class="col-12 col-md-4 text-center my-5">
      <img class="m-3 border border-primary rounded-circle w-25" src="assets/acercade/chibiGrande3.png" alt="imgperfil">
      <h1 class="display-6 m-3">Denise Lucía Bustos</h1>
    </div>

    <div class="col-12 col-md-6 m-3">
      <h2 class="display-5 mb-4">Arte y Diseño Multimedial - Full Stack jr</h2>
      <p class="h4 fw-normal mt-4 mx-2">Me recibí de diseñadora multimedial, una carrera con orientación
        en diseño y desarrollo web, y para ampliar y actualizar mis conocimientos realizo cursos de Front End,
         Back End y Diseño UX/UI.</p>
      <p></p>
    </div>

  </div>


</div>
