
<div class="container-fluid g-0">
  <h2 class="text-center m-5 p-3 text-bg-primary">Experiencia</h2>

  <div class="row g-0 my-4 align-items-center">
    <div class="col-2 col-md-4 text-center my-5">
      <img class="w-25" src="assets/experiencia/logoempresa.jpg" alt="">
    </div>
    <div class="col-8 col-md-6">
      <h2 class="display-5 mb-4">Diseño y Desarrollo Web</h2>
      <p class="h4 fw-light">Periodo Sep.17-Dic.17 2018</p>
      <p class="h4 fw-normal">Creación de sitio web en WordPress para el colegio Escuela
        Ernesto Perez Cuesta 4-155. Prácticas Profesionales</p>
    </div>
  </div>

  <div class="row g-0 my-4 align-items-center">
    <div class="col-2 col-md-4 text-center my-5">
      <img class="w-25" src="assets/experiencia/logoempresa.jpg" alt="">
    </div>
    <div class="col-8 col-md-6">
      <h2 class="display-5 mb-4">Desarrollo de Portfolio</h2>
      <p class="h4 fw-light">Periodo Sep17-Dic17 2018</p>
      <p class="h4 fw-normal">Creación de sitio web en WordPress para el colegio Escuela
        Ernesto Perez Cuesta 4-155. Prácticas Profesionales</p>
    </div>
  </div>


</div>
