<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid g-0">

    <a class="navbar-brand" href="#">
      <img src="assets/logoYP.png" alt="logo" width="130" height="">Denise Lucía Bustos
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>

<div class="container-fluid" *ngIf="proyecto">
  <div class="row my-5">
    <h2 class="display-5 my-4 text-center">Editar Proyecto</h2>
    <div class="col-10 col-md-6 mx-auto">
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" action="">
        <div class="form-group my-4">
          <label for="nombreP" class="h4 fw-normal">Nombre del proyecto</label>
          <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proyecto.nombreP" required>
        </div>
        <div class="form-group my-4">
          <label for="descripcionP" class="h4 fw-normal">Descripcion</label>
          <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="proyecto.descripcionP" required>
        </div>
        <div class="form-group my-4">
          <label for="linkP" class="h4 fw-normal">Link del proyecto</label>
          <input type="text" class="form-control" id="linkP" name="linkP" [(ngModel)]="proyecto.linkP" required>
        </div>
        <button class="btn btn-primary">Editar proyecto</button>
      </form>
    </div>
  </div>
</div>
